# packages that need to be installed:

pandas~=1.2.3
sqlalchemy~=1.4.7
boto3~=1.17.40
numpy~=1.20.1

# packages we are using but that should already be installed:

# json
# configparser
# datetime
# itertools
# logging
# pprint
# re
# time
# unittest

pyodbc~=4.0.30
configparser~=4.0.2